.container {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto';
}

.card {
	display: grid;
	grid-template-columns: 30% calc(70% - 15px);
	column-gap: 15px;
	width: 100%;
}

@media (max-width: 768px) 
{ 
	.card {
		grid-template-columns: 100%;
		row-gap: 15px;
	}
}

.link {
	text-decoration: none;
	color: #111;
}

.imagecontainer {
	height: 100%;
	overflow: hidden;
}

@media (max-width: 768px) 
{ 
	.imagecontainer {
		height: 300px;
	}
}

.image {
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: all 0.3s ease;
}

.image:hover {
	transform: scale(1.2);
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	height: 90%;
}

.categories {
	display: flex;
	column-gap: 5px;
	row-gap: 5px;
	flex-flow: wrap;
}

.category {
	padding: 5px;
	background: #555;
	border-radius: 5px;
	font-size: 12px;
	color: #f7f7f7;
	text-shadow: 0.1px 0.1px #f1f1f177;
	display: flex;
	align-items: center;
}

.title {
	font-weight: bold;
	font-size: 20px;
}

.description {
	font-size: 14px;
	color: #898989;
}

.description p:nth-child(2) {
	display: none;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	font-size: 12px;
}

.creatordate {
	display: flex;
	column-gap: 5px;
}

.creator {
	color: #f75454;
}

.date {
	color: #898989;	
}

.readmore {
	color: #f75454;
	text-decoration: underline;
}

.readmore:hover {
	cursor: pointer;
}

.fullcontentcontainer {
	position: relative;
	overflow: hidden;
	height: 0px;
	transition: all 0.5s ease;
}

.fullcontentcontainer img {
	max-height: 300px;
	width: auto;
}

.fullcontent {
	position: absolute;
	width: calc(100% - 22px);
	padding: 10px;
	border: 1px solid #0002;
	border-radius: 5px;
	margin-top: 10px;
}

.closecontent {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	display: flex;	
	flex-direction: row-reverse;
}

.closebutton {
	background: #222;
	font-size: 20px;
	color: #f7f7f7;
	width: fit-content;
	padding: 5px 10px;
	border-radius: 5px;
}

.closebutton:hover {
	cursor: pointer;
}